body {
    background-color: #666666;
}

h1 {
    text-align: center;
    color: white;
}

.select-format {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.main-game {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
}

.colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    max-height: 500px;
}

.item-color {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.wrapper {
    margin: 0 auto;
}

.grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.grid div {
    border: 1px solid rgba(0,0,0,0.1);
}

.reset {
    text-align: center;
    padding: 30px;
}
.reset button {
    width: 150px;
    height: 30px;
}